---
import Layout from '../layouts/Layout.astro';
import StarField from '../components/StarField';
import Hero from '../components/Hero';
import About from '../components/About';
import Skills from '../components/Skills';
import Projects from '../components/Projects';
import Timeline from '../components/Timeline';
import Contact from '../components/Contact';
---

<Layout title="Tom Moreau | Portfolio Cosmique">
	<main class="relative w-full">
		<!-- Background (Fixed) -->
		<StarField client:only="react" />

		<!-- Sections -->
		<Hero client:load />
		<About client:visible />
		<Projects client:visible />
		<Timeline client:load />
		<Skills client:load />
		<Contact client:visible />
	</main>
</Layout>
